<div class="container mt-4 mb-5">
    <h2>Nova mídia</h2>
    <form class="row">
        <div class="form-group col-12 col-md-8 mb-4 mt-3">
            <label for="name" class="mb-1">Nome</label>
            <input type="text" class="form-control" id="name" name="midianame" placeholder="Nome da mídia">
        </div>
        <div class="form-group col-12 col-md-4 mb-4 mt-3">
            <label for="year" class="mb-1">Ano</label>
            <input type="text" class="form-control" id="year" name="year" placeholder="Ano da mídia">
        </div>
        <div class="form-group col-12 col-md-4 mb-4">
            <label for="type" class="mb-1">Tipo</label>
            <input type="text" class="form-control" id="type" name="type" placeholder="Tipo da mídia">
        </div>
        <div class="form-group col-12 col-md-4 mb-4">
            <label for="gender" class="mb-1">Gênero</label>
            <input type="text" class="form-control" id="gender" name="gender" placeholder="Gênero da mídia">
        </div>
        <div class="form-group col-12 col-md-4 mb-4">
            <label for="duration" class="mb-1">Duração</label>
            <input type="text" class="form-control" id="duration" name="duration" placeholder="Duração da mídia">
        </div>
        <div class="form-group col-12 col-md-6 mb-4">
            <label for="notes" class="mb-1">Anotações</label>
            <textarea name="" type="text" class="form-control" id="notes" name="notes" placeholder="Suas anotações sobre a mídia" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group col-12 col-md-6 mb-1">
            <label for="poster" class="mb-1">Poster</label>
            <input type="text" class="form-control" id="poster" name="poster" placeholder="URL do poster">
            <img src="" alt="">
        </div>
        <div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="delete" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
</div>