<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top position-sticky">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Movie List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/midia-new']" routerLinkActive="router-link-active">Novo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="divisor"></div>
<footer class="bg-light text-center text-lg-start fixed-bottom">
  <div class="text-center bg-dark p-3 text-light">
    Curso de TSI | IFRN - Parnamirim
    <p class="m-0">Desenvolvido por <b>Adib e Amanda</b></p>
  </div>
</footer>